@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
  @apply h-full overflow-hidden;
}

/* vintage theme */
@font-face {
  font-family: 'Abril Fatface';
  src: url('/fonts/AbrilFatface.ttf');
  font-display: swap;
}

/* :root [data-theme='colorful-modern'] {
  --theme-font-family-base: 'Alegreya', sans-serif;
  --theme-font-family-heading: 'Alegreya', sans-serif;
} */
